<section class="container page-section">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">{{activeUser.name}}'s Account</h1> 
    </div>
  </div>
</section>
