<section class="container page-section">
  <header class="row">
    <div class="col-md-8 col-md-offset-2">

      <h1 class="text-center">{{email}}'s Account</h1>
      <div class="row">
        <div class="col-md-4 col-md-offset-2 text-center">
          {{#link-to "account.changeEmail"}}
            <i class="glyphicon glyphicon-edit"></i>Change Email
          {{/link-to}}
        </div>
        <div class="col-md-4 text-center">
          {{#link-to "account.changePassword"}}
            <i class="glyphicon glyphicon-edit"></i>Change Password
          {{/link-to}}
        </div>
        </div>
      </div>

    </div>
  </header>

  <content class="row">
    <div class="col-md-4 col-md-offset-4">
      {{outlet}} 
    </div>
  </content>

</section>
