<section class="container page-section">
  <header class="row">
    <div class="col-md-8 col-md-offset-2">

      <h1 class="text-center">{{username}}'s Account</h1>
      <div class="row">
        <div class="col-md-4 col-md-offset-2 text-center">
          {{#link-to "account.changeEmail"}}
            <i class="glyphicon glyphicon-edit"></i>Change Email
          {{/link-to}}
        </div>
        <div class="col-md-4 text-center">
          {{#link-to "account.changePassword"}}
            <i class="glyphicon glyphicon-edit"></i>Change Password
          {{/link-to}}
        </div>
        </div>
      </div>

    </div>
  </header>

  <section class="row">
    <content class="col-md-4 col-md-offset-1">
      <div class="row">

        <div class="col-md-6">
          <h4>Username</h4>
        </div>
        <div class="col-md-6">
          <h4>{{username}}</h4>
        </div>

        <div class="col-md-6">
          <h4>Email</h4>
        </div>
        <div class="col-md-6">
          <h4>{{email}}</h4>
        </div>
      </div>

    </content>
    <aside class="col-md-offset-1 col-md-4">
      {{outlet}} 
    </aside>
  </section>

</section>
