<section class="container page-section">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">{{username}}'s Account</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul>
        <li>{{username}}</li>
        <li>{{email}}</li>
      </ul>
    </div>
  </div>
</section>
