<!-- HEADER -->
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "index" classNames="navbar-brand"}}EmberCasts{{/link-to}} 
    </div>

    <ul class="nav navbar-nav pull-right">
      {{#if activeUser}}
        <span class="navbar-text">Signed in as {{activeUser.username}}</span>
        <li>{{#link-to "account"}}View Account{{/link-to}}</li>
        <li><a {{action logout}}>Logout</a></li>
      {{else}}
        <li>{{#link-to "signup"}}Signup{{/link-to}}</li> 
        <li>{{#link-to "login"}}Login{{/link-to}}</li>
      {{/if}}
    </ul>
  </div>
</nav>

{{outlet}}
