<!-- HEADER -->
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="/"><p>Ramp</p></a>
    </div>
    <ul class="nav navbar-nav pull-right">
      {{#if activeUser}}
        <li>{{#linkTo account}}View Account{{/linkTo}}</li>
        <li>{{#linkTo logout}}Logout{{/linkTo}}</li>
      {{else}}
        <li>{{#linkTo login}}Signup{{/linkTo}}</li> 
        <li>{{#linkTo login}}Login{{/linkTo}}</li>
      {{/if}}
    </ul>
  </div>
</nav>
