<!-- ABOUT -->
<section class="container page-section">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">EmberCasts</h1> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h2>Saving the world before bedtime.</h2> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="big-p text-center">
        No you too can learn Ember.js through workshop-style videos focused on 
        solving problems that developers are likely to face in the real world.
      </p> 
    </div>
  </div>
</section>
