<section class="container page-section">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

    {{#unless activeUser}}
      {{kane-login-form
        action="storeAndSetUser"}}

      {{kane-reset-password-form}}
    {{else}}
      <h2> Already logged in as: {{activeUser.email}} </h2>
    {{/unless}}

    </div>
  </div>
</section>
