<section class="container page-section">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

    {{#unless activeUser}}
      {{hex-login-form
        classNames="form-horizontal"
        action="storeAndSetUser"}}
    {{else}}
      <h2> Already logged in as: {{activeUser.email}} </h2>
    {{/unless}}

    </div>
  </div>
</section>
