<section class="container page-section">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      {{kane-signup-form
        classNames="form-horizontal"
        action="storeAndSetUser"}}
    </div>
  </div>
</section>
