<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="css/test.css">
</head>
<body>
  <h1>Hi {{name}}</h1>
  <video width="320" height="240" controls="true">
    <source src="videos/h64.mp4" type="video/mp4">
    No HTML5 Video Player
  </video>
</body>

</html>
