<!DOCTYPE HTML>
<html>

<head>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/vendor/reset-css/reset.css">
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/test.css">
</head>
<body>
  
  <script src="http://localhost:35729/livereload.js?snipver=1"></script>

  <script type-"text/javascript" src="/vendor/moment/moment.js"></script>
  <script type="text/javascript" src="/vendor/minispade/lib/main.js"></script>
  <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/handlebars/handlebars.js"></script>
  <script type="text/javascript" src="/vendor/ember/ember.js"></script>

  <script type="text/javascript" src="/dist/app.js"></script>
  <script type="text/javascript" src="/dist/apptemplates.js"></script>

  <script type="text/javascript">
    minispade.require('Application.js'); 
  </script>

</body>

</html>
