<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="/vendor/reset-css/reset.css">
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <section class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h1>Greetings {{name}}, Welcome to a formatted email</h1>
        <p>
          Here is some super important information about carrying 
          playdough around an ice-arena.  One can never be too careful 
          with playdough!
        </p>
        <ol>
          <li>Talk to your mother before attempting</li>
          <li>Blink rarely and always with mindfulness</li>
          <li>Consider the children above all else</li>
          <li>Anticipate drone strikes</li>
          <li>Never talk to your congress-person</li>
        </ol>
      
      </div> 
    </div>
  </section>
</body>
</html>

