<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="/vendor/reset-css/reset.css">
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <section class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h1>Thanks for subscribing to EmberCasts!</h1>
        <h3>We will send you updates when new content is available</h3>
        <h5>Feedback is always welcome!</h5>
      
      </div> 
    </div>
  </section>
</body>
</html>

